
<header>
  <div class="container">
      <ul>
        <div class="header-left">
          <li><%= link_to 'Admin', root_path,  class:"home"  %></li>
          <li><%= link_to 'Article', articles_path,  class:"btnnav-bar"  %></li>
          <li><%= link_to 'Medicine', medicines_path,  class:"btnnav-bar"  %></li>
          <li><%= link_to 'User', users_path,  class:"btnnav-bar"  %></li>
          <li><%= link_to 'Doctor', doctors_path,  class:"btnnav-bar"  %></li>
        </div>
          
        <div class="header-right">
          <li><a class="logout" href="#">Logout</a></li>
        </div>
      </ul>
  </div>
</header>