<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

  <p>
    <strong>Nohp:</strong>
    <%= doctor.noHp %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= doctor.experience %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= doctor.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= doctor.password %>
  </p>

</div>
